$white: #fff;

$green: #ACB9B3;
$green-darker: #7d9389;
$green-darkest: darken($green-darker, 15%);

$tan-green: #878359;
$tan: #b0a68d;

$gray: #ccc;
$gray-darker: darken($gray, 50%);
$form-gray: #4d4d4d;
$copyright-gray: #8f9aa7;

$black-light: #333;
$black: #000;

$space: 2rem;

$default-font-size: 1.6rem;
