@import 'variables';
@import 'config';
@import 'reset';

body {
  position: relative;
  overflow-x: hidden;
  // TODO: move to typography folder
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $black-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overflow-hidden {
  overflow-x: hidden;
}

ul {
  list-style: none;
  list-style-type: none;
}

.btn {
  padding: 0 2.6rem;
  height: 4rem;
  min-width: 15rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1rem;
  border-radius: 0;
  text-align: center;
  margin-right: .8rem;
  margin-bottom: 2.4rem;
  background-color: transparent;
  transition: all 0.3s ease;
}

.btn-tan {
  background-color: $tan;
  color: $black-light;
}

.btn-outline-white {
  border: 2px solid $white;
  color: $white;

  &:hover {
    background-color: $white;
    color: $green-darkest;
    opacity: 0.9;
  }
}

.btn-outline-green {
  border: 2px solid $green-darkest;
  color: $green-darkest;

  &:hover {
    background-color: $green-darkest;
    color: $white;
    opacity: 0.9;
  }
}

.hover-tan-darker {
  &:hover {
    background-color: $tan-darker;
    border: none;
  }
}

.hover-white {
  &:hover {
    background-color: $white;
    color: $green-darkest;
    opacity: 0.9;
  }
}

.hover-green {
  &:hover {
    background-color: $green-darkest;
    color: $white;
    opacity: 0.9;
  }
}

h2 {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: $green-darkest;
  margin-bottom: 4rem;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: $green-darkest;
  margin-bottom: 1.5rem;
}

.section__title {
  margin-bottom: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.section-title__icon {
  color: $green-darker;
  font-size: 2.64rem;
  margin-right: 2rem;
}
